.n-wrapper {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.n-left {
    flex: 1;
    display: flex;
    gap: 2rem;
}

.n-name {
    font-weight: bold;
    font-size: 1.3rem;
}

/* Right Side */
.n-right {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    font-weight: 400;
}

.n-list {
    flex: 10;
}

.n-list>ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

li:hover {
    cursor: pointer;
    color: var(--orange);
}

.n-button {
    font-size: 13px !important;
    height: 2rem;
    width: 6rem;
}